@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}